@font-face {
    font-family: "ink";
    src: url(/assets/InknutAntiqua-Regular.ttf);
}
@font-face {
    font-family: "inter";
    src: url(/assets/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "source";
    src: url(/assets/SourceCodePro-VariableFont_wght.ttf);
}

body{
    background-color: #E6E6E6;
}

* {
    box-sizing: border-box;

/* Estas opciones de abajo son clave, poner siempre */
    outline: unset;
    border: unset;

    margin: unset;
    padding: unset;
}

h1{
    font-size: 48px;
    font-family: "ink";
    color: #E6E6E6;
}
h2{
    font-size: 40px;
    font-family: "ink";
}
h3{
font-size: 20px;
font-family: "source";
}

a {
    font-family: "source";
}

p{
    font-size: 16px;
    font-family: "source";
    color: #030303bf;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #030303bf;
}

.jumpboton {
    background-image: url(/assets/pexels-dariuskrs-2609107.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    width: auto;
}

.jumpboton h1 {
    margin: 50px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #72BF4E;
}

.navbar__logo {
    color: #E6E6E6;
    font-family: "ink";
}

.navbar__opciones__menu {
    display: flex;
    gap: 35px;
    align-items: center;
}

.navbar__opciones__menu a {
    color: #E6E6E6;
}

.navbar__opciones__busqueda {
    font-family: "source";
    font-size: 16px;
    display: flex;
    gap: 5px;
    background-color: #E6E6E6;
    border-radius: 50px; 
    padding: 5px 5px;
}

.navbar__opciones__busqueda input {
    background-color: transparent;
}

.navbar__opciones__busqueda button {
    background-color: transparent;
}

.part2 {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    height: 750px;
    width: fit-content;
    margin: 35px;
}

.part2 h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.catalogo__recomendado {
    display: flex;
    gap: 85px;
}

.catalogo__recomendado img {
    height: 200px;
    width: 300px;
}

.catalogo__recomendado__productos li {
    height: 385px;
    width: 300px;
}

.footer {
    background-color: #024034;
    display: flex;
    flex-direction: column;
}

.footer__textos {
    display: flex;
    justify-content: space-between;
    margin: 10px 35px;
}

.footer__textos p {
    color: #E6E6E6;
}

.footer__iconos {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer__iconos svg {
    color: #E6E6E6;
}

.footer__copy {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer__copy {
    color: #E6E6E6;
}